$color: #333;
$body-width: 1250px;
$icon-hover-color: #f18e63;
$icon-hover-bg-color: rgba(246, 179, 150, 0.28);
.backtop:hover {
  color: $icon-hover-color;
}

#app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-align: center;
  color: $color;
  font-size: 14px;

  min-width: 1250px;
  width: 1250px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition-duration: 0.3s !important;
}

a:hover {
  color: #b93276;
}

.vue-cropper {
  width: 540px !important;
  height: 540px !important;
}

.cropper-drag-box .cropper-move {
  width: 540px !important;
  height: 540px !important;
}

.cropper-view-box {
  outline: 3px solid $icon-hover-color !important;
}

.crop-point {
  width: 5px !important;
  height: 5px !important;
  opacity: 1 !important;
  background-color: $icon-hover-color !important;
  border-radius: 0 !important;
}

.el-input__wrapper {
  background-color: transparent !important
}

.el-textarea__inner {
  border-radius: 15px;
}

.iconfontguanbi1 {
  color: red;
}


.cursor-pointer {
  cursor: pointer;
}

.ico:hover {
  color: $icon-hover-color;

}

.ico-bg:hover {
  background-color: $icon-hover-bg-color;
}


.iconfontduihao {
  color: green;
}

.iconfontjiantou_xiangyou {
  color: #ea15e0;
}

//.el-form-item{
//  margin: 0;
//}
.el-input__inner {
  line-height: 15px;

  background-color: transparent !important

}

.el-textarea__inner {
  border-radius: 7px;
}


li {
  list-style: none !important;
}

img {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 144, 255, 0.43);
  width: 12px !important;
}

/* 滚动槽 */
/*::-webkit-scrollbar-track {*/
/*  !*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);*!*/
/*  border-radius:10px;*/
/*}*/
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 144, 255, 0.28);
}

/*.container::-webkit-scrollbar-thumb:window-inactive {*/
/*  background-color: rgba(0, 0, 0, 0.1);*/
/*}*/
body {
  margin: 0;
  background-color: #e1c39e;
}

.del-blog:after {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  cursor: pointer;
}

.bound-in-enter-active {
  animation: kk .3s;
}

.bound-in-leave-active {
  animation: kk .3s reverse;
}

.bound-out-enter-active {
  animation: bound-out .3s;
}

.bound-out-leave-active {
  animation: bound-out .2s reverse;
}

@keyframes bound-in {
  0% {
    transform: scale(0);
    //opacity: 0;
  }
  100% {
    transform: scale(1);
    //opacity: 1;
  }
}

@keyframes kk {
  0% {
    transform: scaleX(0);
    //opacity: 0;
  }
  100% {
    transform: scaleX(1);
    //opacity: 1;
  }
}

@keyframes bound-out {
  0% {
    transform: scale(1.2);
    //opacity: 0;
  }
  100% {
    transform: scale(1);
    //opacity: 1;
  }
}

